.card-head {
    background-color: #c5a47e;
    color: white
}

.ym-btn {
    height: 45px;
    background-color: #c5a47e !important;
    font-size: 18px;
}

.select-btn {
    background-color: black !important;
    color: white !important;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .card-style {
        padding-top: 16px;
    }
}