.social-btn {
    border: none;
    background-color: rgb(194, 160, 112);
    color: white;
    border-radius: 25px;

}

.social-btn:hover {
    background-color: black;
    color: white;
}


.social-label {
    margin-left: 145px;
}

@media screen and (max-width:767px) {
    .social-label {
        margin-left: 40px;
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
    .social-label {
        margin-left: 20px;
    }
}

@media screen and (min-width:1200px) and (max-width: 1359px) {
    .social-label {
        margin-left: 100px;
    }



}

@media screen and (min-width:992px) {
    .social-container {
        width: 80%;
    }
}