.auth-btn {
    height: 45px !important;
    background-color: transparent !important;
    border: 1px solid #c2a070 !important;
    font-size: 18px !important;
}



.auth-btn:hover {
    background-color: #c2a070 !important;
}

@media screen and (max-width: 991px) {


    .navbar-collapse {
        background-color: #5E5A53;
        text-align: center;
        padding: 20px 0px;
        border-radius: 8px;
        margin-top: 20px;
    }

    #basic-navbar-nav a {
        border-bottom: 1px solid #c2a070;
        padding-top: 20px;
    }

    .control-width {
        margin: 0 auto;
    }

    .auth-res-btn {
        background-color: #c2a070 !important;
        margin-top: 20px !important;
        color: white !important;
        font-weight: 900 !important;

    }

    .auth-res-btn:hover {
        background-color: rgb(32, 31, 31) !important;
        color: white !important;
        font-weight: 500 !important;
    }
}