.badge-container-inner {
    background-color: #362b27ca !important;
    color: white;
    left: -105px;
    top: 140px;
}

@media screen and (max-width: 768px) {
    .intro-title {
        font-size: 30px;

    }

    .go-mid {
        text-align: center;
    }
}