@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.carousel-first-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.313), rgba(0, 0, 0, 0.514)), url('../../../assets/images/slider-1.jpg');
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-second-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.313), rgba(0, 0, 0, 0.514)), url('../../../assets/images/slider-2.jpg');
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-container h1 {

    color: #c6a87d;
}

.carousel-container h4 {
    color: #ffffff;
}

.height-control {
    height: 1000px;
}

.carousel-info {
    font-size: 17px;
    line-height: 30px;

}

.book-btn {
    height: 57px;
    border: 1px solid #c6a87d;
    font-size: 17px;
}

@media only screen and (max-width:600px) {
    .carousel-info {
        font-size: 16px;
        line-height: 25px;

    }

    .carousel-container h1 {
        font-size: 38px;
        font-weight: 900 !important;
    }

    .carousel-container h4 {
        font-size: 20px;
        color: white;
    }

    .carousel-first-img {
        background-position: center;
    }

    .carousel-second-img {
        background-position: 0px -100px;
        background-position: center;
    }
}