.login-banner-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.71)), url('../../../assets/images/recipe-bg-2.jpg');
    min-height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-banner-container h1 {
    color: #c5a47e;
}