.recipe-background {
    background-image: url(../../../../assets/images/onion-bg.png), url(../../../../assets/images/cabbage-bg.png);
    background-position: 0px 30px, bottom right;
    background-size: 300px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .recipe-background {
        background-position: 0px 120px, bottom right;
    }
}