body {
    font-family: 'Cormorant Garamond', serif;

}

.heading-color {
    color: #1A1919 !important;
}

.paragraph-color {
    color: #757575;
}

.ym-fs-5 {
    font-size: 18px;
    line-height: 30px;
    ;
}

.ym-primary {
    color: #c5a47e;
}